*, :before, :after {
  accent-color: transparent;
  align-content: start;
  align-items: start;
  align-self: start;
  alignment-baseline: baseline;
  anchor-name: none;
  anchor-scope: none;
  animation-composition: replace;
  animation-delay: 0ms;
  animation-direction: normal;
  animation-duration: 0ms;
  animation-fill-mode: none;
  animation-iteration-count: 1;
  animation-name: none;
  animation-play-state: running;
  animation-range-end: normal;
  animation-range-start: normal;
  animation-timeline: none;
  animation-timing-function: linear;
  appearance: none;
  aspect-ratio: auto;
  backdrop-filter: none;
  backface-visibility: visible;
  background-attachment: scroll;
  background-blend-mode: normal;
  background-clip: border-box;
  background-color: transparent;
  background-image: none;
  background-origin: border-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: no-repeat;
  background-size: cover;
  baseline-shift: 0;
  block-size: auto;
  border-block-end-color: transparent;
  border-block-end-style: none;
  border-block-end-width: 0rem;
  border-block-start-color: transparent;
  border-block-start-style: none;
  border-block-start-width: 0rem;
  border-bottom-color: transparent;
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
  border-bottom-style: none;
  border-bottom-width: 0rem;
  border-collapse: separate;
  border-end-end-radius: 0rem;
  border-end-start-radius: 0rem;
  border-image-outset: 0rem;
  border-image-repeat: stretch;
  border-image-slice: 0rem;
  border-image-source: none;
  border-image-width: 0rem;
  border-inline-end-color: transparent;
  border-inline-end-style: none;
  border-inline-end-width: 0rem;
  border-inline-start-color: transparent;
  border-inline-start-style: none;
  border-inline-start-width: 0rem;
  border-left-color: transparent;
  border-left-style: none;
  border-left-width: 0rem;
  border-right-color: transparent;
  border-right-style: none;
  border-right-width: 0rem;
  border-start-end-radius: 0rem;
  border-start-start-radius: 0rem;
  border-top-color: transparent;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  border-top-style: none;
  border-top-width: 0rem;
  bottom: auto;
  box-decoration-break: slice;
  box-shadow: none;
  box-sizing: border-box;
  break-after: auto;
  break-before: auto;
  break-inside: auto;
  caption-side: top;
  caret-color: hsl(0, 0%, 0%);
  clear: none;
  clip: auto;
  clip-path: none;
  clip-rule: nonzero;
  color: hsl(0, 0%, 0%);
  color-interpolation: srgb;
  color-interpolation-filters: srgb;
  color-scheme: normal;
  column-count: auto;
  column-fill: auto;
  column-gap: 0rem;
  column-rule-color: transparent;
  column-rule-style: none;
  column-rule-width: 0rem;
  column-span: none;
  column-width: auto;
  contain: none;
  contain-intrinsic-block-size: none;
  contain-intrinsic-height: none;
  contain-intrinsic-inline-size: none;
  contain-intrinsic-width: none;
  container-name: none;
  container-type: normal;
  content: none;
  content-visibility: visible;
  counter-increment: none;
  counter-reset: none;
  counter-set: none;
  cursor: default;
  cx: 0rem;
  cy: 0rem;
  d: none;
  direction: ltr;
  display: flex;
  dominant-baseline: alphabetic;
  empty-cells: show;
  field-sizing: fixed;
  fill: none;
  fill-opacity: 1;
  fill-rule: nonzero;
  filter: none;
  flex-basis: auto;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 1;
  flex-wrap: nowrap;
  float: none;
  flood-color: transparent;
  flood-opacity: 1;
  font-family: monospace;
  font-feature-settings: normal;
  font-kerning: normal;
  font-optical-sizing: none;
  font-palette: normal;
  font-size: 1rem;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-synthesis-small-caps: none;
  font-synthesis-style: none;
  font-synthesis-weight: none;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-emoji: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: 400;
  forced-color-adjust: none;
  grid-auto-columns: auto;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  grid-column-end: auto;
  grid-column-start: auto;
  grid-row-end: auto;
  grid-row-start: auto;
  grid-template-areas: none;
  grid-template-columns: none;
  grid-template-rows: none;
  height: fit-content;
  hyphenate-character: auto;
  hyphenate-limit-chars: 8 4 4;
  hyphens: manual;
  image-orientation: from-image;
  image-rendering: auto;
  initial-letter: normal;
  inline-size: auto;
  inset-block-end: auto;
  inset-block-start: auto;
  inset-inline-end: auto;
  inset-inline-start: auto;
  interpolate-size: numeric-only;
  isolation: auto;
  justify-content: start;
  justify-items: start;
  justify-self: start;
  left: auto;
  letter-spacing: normal;
  lighting-color: transparent;
  line-break: normal;
  line-height: 1;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: disc;
  margin-block-end: 0rem;
  margin-block-start: 0rem;
  margin-bottom: 0rem;
  margin-inline-end: 0rem;
  margin-inline-start: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
  margin-top: 0rem;
  marker-end: none;
  marker-mid: none;
  marker-start: none;
  mask-clip: border-box;
  mask-composite: add;
  mask-image: none;
  mask-mode: alpha;
  mask-origin: border-box;
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-type: alpha;
  math-depth: 0; 
  math-shift: normal;
  math-style: normal;
  max-block-size: none;
  max-height: none;
  max-inline-size: none;
  max-width: none;
  min-block-size: 0rem;
  min-height: 0rem;
  min-inline-size: 0rem;
  min-width: 0rem;
  mix-blend-mode: normal;
  object-fit: cover;
  object-position: 50% 50%;
  offset-anchor: 0 0;
  offset-distance: 0rem;
  offset-path: none;
  offset-position: normal;
  offset-rotate: 0deg;
  opacity: 1;
  order: 0;
  orphans: 2;
  outline-color: transparent;
  outline-offset: 0rem;
  outline-style: none;
  outline-width: 0rem;
  overflow-anchor: none;
  overflow-block: clip;
  overflow-clip-margin: 0rem;
  overflow-inline: clip;
  overflow-wrap: break-word;
  overflow-x: clip;
  overflow-y: clip;
  overlay: none;
  overscroll-behavior-block: none;
  overscroll-behavior-inline: none;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  padding-block-end: 0rem;
  padding-block-start: 0rem;
  padding-bottom: 0rem;
  padding-inline-end: 0rem;
  padding-inline-start: 0rem;
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 0rem;
  page: auto;
  page-orientation: upright;
  paint-order: normal;
  perspective: none;
  perspective-origin: center;
  pointer-events: none;
  position: static;
  position-anchor: auto;
  position-area: none;
  position-try-fallbacks: none;
  position-try-order: normal;
  position-visibility: always;
  quotes: "„" "“";
  r: 0rem;
  resize: none;
  right: auto;
  rotate: none;
  row-gap: 0rem;
  ruby-align: start;
  ruby-position: under;
  rx: 0rem;
  ry: 0rem;
  scale: none;
  scroll-behavior: smooth;
  scroll-margin-block-end: 0rem;
  scroll-margin-block-start: 0rem;
  scroll-margin-bottom: 0rem;
  scroll-margin-inline-end: 0rem;
  scroll-margin-inline-start: 0rem;
  scroll-margin-left: 0rem;
  scroll-margin-right: 0rem;
  scroll-margin-top: 0rem;
  scroll-marker-group: none;
  scroll-padding-block-end: 0rem;
  scroll-padding-block-start: 0rem;
  scroll-padding-bottom: 0rem;
  scroll-padding-inline-end: 0rem;
  scroll-padding-inline-start: 0rem;
  scroll-padding-left: 0rem;
  scroll-padding-right: 0rem;
  scroll-padding-top: 0rem;
  scroll-snap-align: none;
  scroll-snap-stop: always;
  scroll-snap-type: none;
  scroll-timeline-axis: block;
  scroll-timeline-name: none;
  scrollbar-color: hsl(0, 0%, 0%) transparent;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  shape-image-threshold: 0;
  shape-margin: 0rem;
  shape-outside: none;
  shape-rendering: auto;
  size: auto;
  stop-color: transparent;
  stop-opacity: 1;
  stroke: none;
  stroke-dasharray: none;
  stroke-dashoffset: 0rem;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 0;
  stroke-opacity: 1;
  stroke-width: 0rem;
  tab-size: 4;
  table-layout: fixed;
  text-align: start;
  text-align-last: start;
  text-anchor: start;
  text-box-edge: text;
  text-box-trim: none;
  text-combine-upright: none;
  text-decoration-color: transparent;
  text-decoration-line: none;
  text-decoration-skip-ink: auto;
  text-decoration-style: solid;
  text-decoration-thickness: 0rem;
  text-emphasis-color: transparent;
  text-emphasis-position: over;
  text-emphasis-style: none;
  text-indent: 0rem;
  text-orientation: mixed;
  text-overflow: clip;
  text-rendering: optimizeLegibility;
  text-shadow: none;
  text-size-adjust: none;
  text-spacing-trim: normal;
  text-transform: none;
  text-underline-offset: 0rem;
  text-underline-position: auto;
  text-wrap-mode: wrap;
  text-wrap-style: pretty;
  timeline-scope: none;
  top: auto;
  touch-action: auto;
  transform: none;
  transform-box: view-box;
  transform-origin: center center 0;
  transform-style: flat;
  transition-behavior: allow-discrete;
  transition-delay: 0ms;
  transition-duration: 0ms;
  transition-property: all;
  transition-timing-function: linear;
  translate: none;
  user-select: none;
  vector-effect: none;
  vertical-align: top;
  view-timeline-axis: block;
  view-timeline-inset: auto;
  view-timeline-name: none;
  view-transition-name: none;
  visibility: visible;
  white-space-collapse: preserve-breaks;
  widows: 2;
  width: fit-content;
  will-change: auto;
  word-break: break-word;
  word-spacing: normal;
  writing-mode: horizontal-tb;
  x: 0rem;
  y: 0rem;
  z-index: auto;
  zoom: 1;
}

head, script {
  display: none;
}

/* todo should not be here */ 
html {
  overflow-y: auto;
}

body {
  flex-direction: column;
}