.box-background-red {
  background-color: var(--red);
}

.box {
  container-type: inline-size;
  contain: layout style;
  width: 100%;
  height: 100px;
  overflow: auto;
  resize: both;
  background-color: var(--orange-6);

  @media (width <= 20rem) {
    background-color: lightblue;
  }
}


.width-full{width:100%;}.width-full-l{@media(width<=80rem){width:100%;}}.width-full-l-hover:hover{@media(width<=80rem){width:100%;}}.width-full-l-active:active{@media(width<=80rem){width:100%;}}.width-full-l-focus:focus{@media(width<=80rem){width:100%;}}.width-full-l-required:required{@media(width<=80rem){width:100%;}}.width-full-l-disabled:disabled{@media(width<=80rem){width:100%;}}.width-full-m{@media(width<=60rem){width:100%;}}.width-full-m-hover:hover{@media(width<=60rem){width:100%;}}.width-full-m-active:active{@media(width<=60rem){width:100%;}}.width-full-m-focus:focus{@media(width<=60rem){width:100%;}}.width-full-m-required:required{@media(width<=60rem){width:100%;}}.width-full-m-disabled:disabled{@media(width<=60rem){width:100%;}}.width-full-s{@media(width<=40rem){width:100%;}}.width-full-s-active:active{@media(width<=40rem){width:100%;}}.width-full-s-focus:focus{@media(width<=40rem){width:100%;}}.width-full-s-required:required{@media(width<=40rem){width:100%;}}.width-full-s-disabled:disabled{@media(width<=40rem){width:100%;}}.width-full-s-hover:hover{@media(width<=40rem){width:100%;}}.width-full-xs{@media(width<=20rem){width:100%;}}.width-full-xs-disabled:disabled{@media(width<=20rem){width:100%;}}.width-full-xs-hover:hover{@media(width<=20rem){width:100%;}}.width-full-xs-active:active{@media(width<=20rem){width:100%;}}.width-full-xs-focus:focus{@media(width<=20rem){width:100%;}}.width-full-xs-required:required{@media(width<=20rem){width:100%;}}.width-full-xl{@media(width<=100rem){width:100%;}}.width-full-xl-hover:hover{@media(width<=100rem){width:100%;}}.width-full-xl-active:active{@media(width<=100rem){width:100%;}}.width-full-xl-focus:focus{@media(width<=100rem){width:100%;}}.width-full-xl-required:required{@media(width<=100rem){width:100%;}}.width-full-xl-disabled:disabled{@media(width<=100rem){width:100%;}}.width-1{width:1rem;}.width-1-m{@media(width<=60rem){width:1rem;}}.width-1-m-disabled:disabled{@media(width<=60rem){width:1rem;}}.width-1-m-hover:hover{@media(width<=60rem){width:1rem;}}.width-1-m-active:active{@media(width<=60rem){width:1rem;}}.width-1-m-focus:focus{@media(width<=60rem){width:1rem;}}.width-1-m-required:required{@media(width<=60rem){width:1rem;}}.width-1-s{@media(width<=40rem){width:1rem;}}.width-1-s-hover:hover{@media(width<=40rem){width:1rem;}}.width-1-s-active:active{@media(width<=40rem){width:1rem;}}.width-1-s-focus:focus{@media(width<=40rem){width:1rem;}}.width-1-s-required:required{@media(width<=40rem){width:1rem;}}.width-1-s-disabled:disabled{@media(width<=40rem){width:1rem;}}.width-1-xs{@media(width<=20rem){width:1rem;}}.width-1-xs-hover:hover{@media(width<=20rem){width:1rem;}}.width-1-xs-active:active{@media(width<=20rem){width:1rem;}}.width-1-xs-focus:focus{@media(width<=20rem){width:1rem;}}.width-1-xs-required:required{@media(width<=20rem){width:1rem;}}.width-1-xs-disabled:disabled{@media(width<=20rem){width:1rem;}}.width-1-xl{@media(width<=100rem){width:1rem;}}.width-1-xl-disabled:disabled{@media(width<=100rem){width:1rem;}}.width-1-xl-hover:hover{@media(width<=100rem){width:1rem;}}.width-1-xl-active:active{@media(width<=100rem){width:1rem;}}.width-1-xl-focus:focus{@media(width<=100rem){width:1rem;}}.width-1-xl-required:required{@media(width<=100rem){width:1rem;}}.width-1-l{@media(width<=80rem){width:1rem;}}.width-1-l-hover:hover{@media(width<=80rem){width:1rem;}}.width-1-l-active:active{@media(width<=80rem){width:1rem;}}.width-1-l-focus:focus{@media(width<=80rem){width:1rem;}}.width-1-l-required:required{@media(width<=80rem){width:1rem;}}.width-1-l-disabled:disabled{@media(width<=80rem){width:1rem;}}.width-hug{width:fit-content;}.width-hug-m{@media(width<=60rem){width:fit-content;}}.width-hug-m-hover:hover{@media(width<=60rem){width:fit-content;}}.width-hug-m-active:active{@media(width<=60rem){width:fit-content;}}.width-hug-m-focus:focus{@media(width<=60rem){width:fit-content;}}.width-hug-m-required:required{@media(width<=60rem){width:fit-content;}}.width-hug-m-disabled:disabled{@media(width<=60rem){width:fit-content;}}.width-hug-s{@media(width<=40rem){width:fit-content;}}.width-hug-s-hover:hover{@media(width<=40rem){width:fit-content;}}.width-hug-s-active:active{@media(width<=40rem){width:fit-content;}}.width-hug-s-focus:focus{@media(width<=40rem){width:fit-content;}}.width-hug-s-required:required{@media(width<=40rem){width:fit-content;}}.width-hug-s-disabled:disabled{@media(width<=40rem){width:fit-content;}}.width-hug-xs{@media(width<=20rem){width:fit-content;}}.width-hug-xs-hover:hover{@media(width<=20rem){width:fit-content;}}.width-hug-xs-active:active{@media(width<=20rem){width:fit-content;}}.width-hug-xs-focus:focus{@media(width<=20rem){width:fit-content;}}.width-hug-xs-required:required{@media(width<=20rem){width:fit-content;}}.width-hug-xs-disabled:disabled{@media(width<=20rem){width:fit-content;}}.width-hug-xl{@media(width<=100rem){width:fit-content;}}.width-hug-xl-active:active{@media(width<=100rem){width:fit-content;}}.width-hug-xl-focus:focus{@media(width<=100rem){width:fit-content;}}.width-hug-xl-required:required{@media(width<=100rem){width:fit-content;}}.width-hug-xl-disabled:disabled{@media(width<=100rem){width:fit-content;}}.width-hug-xl-hover:hover{@media(width<=100rem){width:fit-content;}}.width-hug-l{@media(width<=80rem){width:fit-content;}}.width-hug-l-disabled:disabled{@media(width<=80rem){width:fit-content;}}.width-hug-l-hover:hover{@media(width<=80rem){width:fit-content;}}.width-hug-l-active:active{@media(width<=80rem){width:fit-content;}}.width-hug-l-focus:focus{@media(width<=80rem){width:fit-content;}}.width-hug-l-required:required{@media(width<=80rem){width:fit-content;}}



.background-color-red-1{background-color:var(--red-1);}
.background-color-red-1-l{&:hover{@media(width<=80rem){background-color:var(--red-9);}}}


.hover-background-color-red-1 {
  &:hover {
    background-color: var(--red-1);
  }
}

.active-background-color-red-1 {
  &:active {
    background-color: var(--red-1);
  }
}

.focus-background-color-red-1 {
  &:focus {
    background-color: var(--red-1);
  }
}

.required-background-color-red-1 {
  &:required {
    background-color: var(--red-1);
  }
}

.disabled-background-color-red-1 {
  &:disabled {
    background-color: var(--red-1);
  }
}

.xs-background-color-red-1 {
  @media (width <= 20rem) {
    background-color: var(--red-1);
  }
}

.s-background-color-red-1 {
  @media (width <= 40rem) {
    background-color: var(--red-1);
  }
}

.m-background-color-red-1 {
  @media (width <= 60rem) {
    background-color: var(--red-1);
  }
}

.l-background-color-red-1 {
  @media (width <= 80rem) {
    background-color: var(--red-1);
  }
}

.xl-background-color-red-1 {
  @media (width <= 100rem) {
    background-color: var(--red-1);
  }
}

.rad-br-2,.rad-br-2\:hvr:hover,.rad-br-2\:clk:active,.rad-br-2-foc:focus{border-bottom-right-radius:2rem;}.rad-br-2-xl{@media(width<=100rem){border-bottom-right-radius:2rem;}}.rad-br-2-l{@media(width<=80rem){border-bottom-right-radius:2rem;}}.rad-br-2-m{@media(width<=60rem){border-bottom-right-radius:2rem;}}.rad-br-2-s{@media(width<=40rem){border-bottom-right-radius:2rem;}}.rad-br-2-xs{@media(width<=20rem){border-bottom-right-radius:2rem;}}

.wid-hug,.wid-hug\:hvr:hover,.wid-hug\:clk:active,.wid-hug\:foc:focus{width:fit-content;}.wid-hug\:xl{@media(width<=100rem){width:fit-content;}}.wid-hug\:l{@media(width<=80rem){width:fit-content;}}.wid-hug\:m{@media(width<=60rem){width:fit-content;}}.wid-hug\:s{@media(width<=40rem){width:fit-content;}}.wid-hug\:xs{@media(width<=20rem){width:fit-content;}}

.wid-\.25,
.wid-0\.25\:hvr:hover,
.wid-0\.25\:clk:active,
.wid-0\.25\:foc:focus {
  width: 0.25rem;
}


.hgt\=2,
.hgt\=2\:hvr:hover,
.hgt\=2\:clk:active,
.hgt\=2\:foc:focus {
  height: 2rem;
}