:root {
  --xl: 100rem;
  --l: 80rem;
  --m: 60rem;
  --s: 40rem;
  --xs: 20rem;

  --white-1: hsl(0, 0%, 100%);
  --white-2: hsl(0, 0%, 95%);
  --white-3: hsl(0, 0%, 90%);
  --white-4: hsl(0, 0%, 85%);
  --white-5: hsl(0, 0%, 80%);
  --white-6: hsl(0, 0%, 75%);
  --white-7: hsl(0, 0%, 70%);
  --white-8: hsl(0, 0%, 65%);
  --white-9: hsl(0, 0%, 60%);

  --black-1: hsl(0, 0%, 40%);
  --black-2: hsl(0, 0%, 35%);
  --black-3: hsl(0, 0%, 30%);
  --black-4: hsl(0, 0%, 25%);
  --black-5: hsl(0, 0%, 20%);
  --black-6: hsl(0, 0%, 15%);
  --black-7: hsl(0, 0%, 10%);
  --black-8: hsl(0, 0%, 5%);
  --black-9: hsl(0, 0%, 0%);

  --red-1: hsl(0, 90%, 90%);
  --red-2: hsl(0, 90%, 80%);
  --red-3: hsl(0, 90%, 70%);
  --red-4: hsl(0, 90%, 60%);
  --red-5: hsl(0, 90%, 50%);
  --red-6: hsl(0, 90%, 40%);
  --red-7: hsl(0, 90%, 30%);
  --red-8: hsl(0, 90%, 20%);
  --red-9: hsl(0, 90%, 10%);

  --orange-1: hsl(25, 90%, 90%);
  --orange-2: hsl(25, 90%, 80%);
  --orange-3: hsl(25, 90%, 70%);
  --orange-4: hsl(25, 90%, 60%);
  --orange-5: hsl(25, 90%, 50%);
  --orange-6: hsl(25, 90%, 40%);
  --orange-7: hsl(25, 90%, 30%);
  --orange-8: hsl(25, 90%, 20%);
  --orange-9: hsl(25, 90%, 10%);

  --yellow-1: hsl(50, 90%, 90%);
  --yellow-2: hsl(50, 90%, 80%);
  --yellow-3: hsl(50, 90%, 70%);
  --yellow-4: hsl(50, 90%, 60%);
  --yellow-5: hsl(50, 90%, 50%);
  --yellow-6: hsl(50, 90%, 40%);
  --yellow-7: hsl(50, 90%, 30%);
  --yellow-8: hsl(50, 90%, 20%);
  --yellow-9: hsl(50, 90%, 10%);

  --lime-1: hsl(75, 90%, 90%);
  --lime-2: hsl(75, 90%, 80%);
  --lime-3: hsl(75, 90%, 70%);
  --lime-4: hsl(75, 90%, 60%);
  --lime-5: hsl(75, 90%, 50%);
  --lime-6: hsl(75, 90%, 40%);
  --lime-7: hsl(75, 90%, 30%);
  --lime-8: hsl(75, 90%, 20%);
  --lime-9: hsl(75, 90%, 10%);

  --green-1: hsl(100, 90%, 90%);
  --green-2: hsl(100, 90%, 80%);
  --green-3: hsl(100, 90%, 70%);
  --green-4: hsl(100, 90%, 60%);
  --green-5: hsl(100, 90%, 50%);
  --green-6: hsl(100, 90%, 40%);
  --green-7: hsl(100, 90%, 30%);
  --green-8: hsl(100, 90%, 20%);
  --green-9: hsl(100, 90%, 10%);

  --emerald-1: hsl(125, 90%, 90%);
  --emerald-2: hsl(125, 90%, 80%);
  --emerald-3: hsl(125, 90%, 70%);
  --emerald-4: hsl(125, 90%, 60%);
  --emerald-5: hsl(125, 90%, 50%);
  --emerald-6: hsl(125, 90%, 40%);
  --emerald-7: hsl(125, 90%, 30%);
  --emerald-8: hsl(125, 90%, 20%);
  --emerald-9: hsl(125, 90%, 10%);

  --olive-1: hsl(150, 90%, 90%);
  --olive-2: hsl(150, 90%, 80%);
  --olive-3: hsl(150, 90%, 70%);
  --olive-4: hsl(150, 90%, 60%);
  --olive-5: hsl(150, 90%, 50%);
  --olive-6: hsl(150, 90%, 40%);
  --olive-7: hsl(150, 90%, 30%);
  --olive-8: hsl(150, 90%, 20%);
  --olive-9: hsl(150, 90%, 10%);

  --teal-1: hsl(175, 90%, 90%);
  --teal-2: hsl(175, 90%, 80%);
  --teal-3: hsl(175, 90%, 70%);
  --teal-4: hsl(175, 90%, 60%);
  --teal-5: hsl(175, 90%, 50%);
  --teal-6: hsl(175, 90%, 40%);
  --teal-7: hsl(175, 90%, 30%);
  --teal-8: hsl(175, 90%, 20%);
  --teal-9: hsl(175, 90%, 10%);

  --cyan-1: hsl(200, 90%, 90%);
  --cyan-2: hsl(200, 90%, 80%);
  --cyan-3: hsl(200, 90%, 70%);
  --cyan-4: hsl(200, 90%, 60%);
  --cyan-5: hsl(200, 90%, 50%);
  --cyan-6: hsl(200, 90%, 40%);
  --cyan-7: hsl(200, 90%, 30%);
  --cyan-8: hsl(200, 90%, 20%);
  --cyan-9: hsl(200, 90%, 10%);

  --sky-1: hsl(225, 90%, 90%);
  --sky-2: hsl(225, 90%, 80%);
  --sky-3: hsl(225, 90%, 70%);
  --sky-4: hsl(225, 90%, 60%);
  --sky-5: hsl(225, 90%, 50%);
  --sky-6: hsl(225, 90%, 40%);
  --sky-7: hsl(225, 90%, 30%);
  --sky-8: hsl(225, 90%, 20%);
  --sky-9: hsl(225, 90%, 10%);

  --blue-1: hsl(250, 90%, 90%);
  --blue-2: hsl(250, 90%, 80%);
  --blue-3: hsl(250, 90%, 70%);
  --blue-4: hsl(250, 90%, 60%);
  --blue-5: hsl(250, 90%, 50%);
  --blue-6: hsl(250, 90%, 40%);
  --blue-7: hsl(250, 90%, 30%);
  --blue-8: hsl(250, 90%, 20%);
  --blue-9: hsl(250, 90%, 10%);

  --purple-1: hsl(275, 90%, 90%);
  --purple-2: hsl(275, 90%, 80%);
  --purple-3: hsl(275, 90%, 70%);
  --purple-4: hsl(275, 90%, 60%);
  --purple-5: hsl(275, 90%, 50%);
  --purple-6: hsl(275, 90%, 40%);
  --purple-7: hsl(275, 90%, 30%);
  --purple-8: hsl(275, 90%, 20%);
  --purple-9: hsl(275, 90%, 10%);

  --pink-1: hsl(300, 90%, 90%);
  --pink-2: hsl(300, 90%, 80%);
  --pink-3: hsl(300, 90%, 70%);
  --pink-4: hsl(300, 90%, 60%);
  --pink-5: hsl(300, 90%, 50%);
  --pink-6: hsl(300, 90%, 40%);
  --pink-7: hsl(300, 90%, 30%);
  --pink-8: hsl(300, 90%, 20%);
  --pink-9: hsl(300, 90%, 10%);

  --rose-1: hsl(325, 90%, 90%);
  --rose-2: hsl(325, 90%, 80%);
  --rose-3: hsl(325, 90%, 70%);
  --rose-4: hsl(325, 90%, 60%);
  --rose-5: hsl(325, 90%, 50%);
  --rose-6: hsl(325, 90%, 40%);
  --rose-7: hsl(325, 90%, 30%);
  --rose-8: hsl(325, 90%, 20%);
  --rose-9: hsl(325, 90%, 10%);
}